body
	font-family Open Sans
	background-color #eceff1
	margin 0
	padding 0
	color #37474f
	
.container
	width 1000px
	margin auto

.content	
	margin auto
	
	& .container
		display flex
		justify-content space-between
		flex-wrap wrap