body
	font-family Lato
	background-color #eceff1
	margin 0
	padding 0
	
.container
	width 1000px
	margin auto

.content	
	margin auto
	
	& .container
		display flex
		justify-content space-between
		flex-wrap wrap